{%extends 'chan_app/base.html'%}
{%block bodyblock%}
  <h1>{{board_detail.board_name}}</h1>
  <p>Thread Count: {{thread_count}}</p>
  {# <p><a href="{%url 'chan_app:createthread' board_detail.id %}">Create Thread</a></p>#}
  <form action="{% url 'chan_app:boarddetail' board_detail.slug %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Thread Title</p>
    <input name="thread_name" type="text">
    <br>
    <p>Thread Text</p>
    <input name="thread_text" type="text">
    <p>Thread Image</a>
    <input name="thread_image" type="file" required>
    <input type="submit" value="Create Thread">
  </form>

  <h3>Threads</h3>
  {%for thread in board_detail.threads.all%}
    <div class="ThreadContainer">
      <h3><a href="{{thread.id}}">{{thread.thread_name}}</a></h3>
      {% if thread.thread_image %}
        <img src="{{thread.thread_image.url}}" alt="{{thread.thread_image}}">
      {% endif %}
      <p>{{thread.thread_text}}</p>
    </div>
  {%endfor%}
{%endblock%}
