{%extends 'chan_app/base.html'%}
{%block bodyblock%}
  <h1>Board Details:</h1>
  <p>Board Name: {{board_detail.board_name}}</p>
  <p>Thread Count: </p>
  <p>Post Count: </p>
  {# <p><a href="{%url 'chan_app:createthread' board_detail.id %}">Create Thread</a></p>#}
  <p><a href="{%url 'chan_app:createthread' board_id=board_detail.id %}">Create Thread</a></p>
  <h1>Threads</h1>
  {%for thread in board_detail.threads.all%}
    <p><a href="{{thread.id}}">{{thread.thread_name}}</a></p>
  {%endfor%}
{%endblock%}
