<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post</title>
  </head>
  <body>
    {%if post%}
      <ul>
        {%for p in post%}
          {%if p.pic %}
            <li><img src="{{p.pic.url}}" alt="">{{p.post_text}}</li>
          {%else%}
            <li>{{p.post_text}}</li>
          {%endif%}
        {%endfor%}
      </ul>
    {%endif%}
    <footer>
      <h2>Make new post!</h2>
      <form method="POST" enctype="multipart/form-data">
      {{makePost.as_p}}
      {% csrf_token%}
      <input type="submit" name="" value="Post">
      </form>
    </footer>
  </body>
</html>
