{%extends 'chan_app/base.html'%}
{%block bodyblock%}
  <h1>{{thread_detail.thread_name}}</h1>
  <p>Thread Post Count: <strong>{{post_count}}</strong></p>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label>Post Text</label>
      <input name="post_text" type="text" required>
      <br />
      <label>Post Image(Optional)</label>
      <input name="post_image" type="file">
      <br />
      <input type="submit" value="New Post" class ="btn btn-success">
    </div>
  </form>
  <h3>Posts</h3>
  {# <h3><strong><a href="{%url 'chan_app:createpost' thread_detail.id 'newpost'%}">New Post</a></strong></h3> #}
  {%for post in thread_detail.posts.all%}
    <div class="PostContainer">
      {% if post.post_image %}
        <a href="{{post.post_image.url}}"><img width="140" height="100" src="{{post.post_image.url}}" alt="{{post.post_image}}"></a>
      {% endif %}
      <p>{{post.post_text}}</p>
    </div>
  {%endfor%}
{%endblock%}
